*.bak/
.*.swp
*.out
*.[od]
*.gch
*.pb.*
*.json
project/nginx-1.11.4/Makefile
project/nginx-1.11.4/objs/

!main.out

# 方式一
# .gitignore 文件对其所在的目录及所在目录的全部子目录均有效。
# 通过将.gitignore文件添加到仓库，其他开发者更新该文件到本地仓库，以共享同一套忽略规则。

# 方式二
# 通过配置 .git/info/exclude 文件来忽略文件。
# 这种方式对仓库全局有效，只能对自己本地仓库有作用，
# 其他人没办法通过这种方式来共享忽略规则，除非他人也修改其本地仓库的该文件。

# 方式三
# 通过 .git/config 配置文件的 core.Excludesfile 选项，指定一个忽略规则文件（完整路径）。
# 作用域是全局的。

# 配置语法
# 以斜杠   "/" 开头表示目录
# 以星号   "*" 通配多个字符
# 以问号   "?" 通配单个字符
# 以方括号 "[]" 包含单个字符的匹配列表
# 以叹号   "!" 表示不忽略(跟踪)匹配到的文件或目录

# git 对于 .ignore 配置文件是按行从上到下进行规则匹配的，
# 意味着如果前面的规则匹配的范围更大，则后面的规则将不会生效。

# 例如：
# 规则：fd1/*
# 说明：忽略目录 fd1 下的全部内容；
# 注意，不管是根目录下的 /fd1/ 目录，还是某个子目录 /child/fd1/ 目录，都会被忽略。

# 规则：/fd1/*
# 忽略根目录下的 /fd1/ 目录的全部内容。
