[user]
	email = nvngliu@gmail.com
	name = nvng
[push]
	default = matching
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool

# 使用 vimdiff 来 git diff
# git config --global diff.tool vimdiff
# git config --global difftool.prompt false
# git config --global alias.d difftool
# 使用 git d 打开对比代码

# 删除文件
# 在本地删除后，执行 git add -A .
